name: Build_My_Cheat
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup NDK
        uses: nttld/setup-ndk@v1
        with:
          ndk-version: r21e
      - name: Build
        run: |
          mkdir jni
          # Копируем всё, что ты загрузил, в папку для сборки
          cp * jni/ 2>/dev/null || true
          ndk-build NDK_PROJECT_PATH=. APP_BUILD_SCRIPT=jni/Android.mk
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: Final_Cheat_Lib
          path: libs/arm64-v8a/libDarknessVip.so
          
